  body {
    height: 200px;
    background: #a4c5f9;
    text-align:center;
  }


h1{
 font-family: 'BarrioRegular'; 
   font-weight: normal; 
   font-style: normal; 
  font-size: 100px;
  
}


.dot{ 
    height: 20px; width: 20px;
    border-radius: 10px; /* rounds corners */
    background-color: white;
    position: absolute;
}

